#no-mobile {
  position: fixed;
  position: absolute;
  z-index: 99;
  height: 1000vh;
  width: 100vw;
  background-color: var(--main-color);
  color: white;
  display: flex;
  justify-content: center;
  padding-top: 50%;
  font-size: 30px;
  top: 0;
}

@media screen and (max-width: 550px) {
  #no-mobile {
    display: none;
  }
}
